<h1>Editing user</h1>

<%= render 'form' %>

<%= ajax_upload_control id: "custom75",
                        action: add_files_user_path(@user),
                        class: "mystyle",
                        on_upload_callback: "file_uploaded",
                        valid_content_type_pattern: "image" %>

<script type="text/javascript">
function file_uploaded(info) {
}
</script>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
