<h1>Editing user</h1>

<%= render 'form' %>

<%= render partial: 'upload_files', object: { action: add_files_user_path(@user), max_size: 5 * 1024 } %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
