// Place all the styles related to the Upload controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.file-hover .upload-files-ctrl {
  background-color: #46b8DA;
  position: relative;
  border-radius: 4px;
}
/*
.upload-files-ctrl {
  transition: background-color 0.2s ease-in-out;
}
*/

body.file-hover .upload-files-form {
  opacity: 0;
}

body.file-hover .upload-files-drophere {
  display: block;
  opacity: 100;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(0,0,0,0.3);
}

.upload-files-drophere {
  display: none;
  opacity: 0;
  position: relative;
  top: 0;
}


.uploads > div {
  margin-bottom: 10px;
}
.uploads .info {
  margin-bottom: 0.5em;
}

.button-container {
  display: inline-block;
  width: 200px;
}

.button-container {
  position: relative;
}
.button-container > * {
  width: 100%;
}
.button-container > input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
